#root {
  height: 100vh;
  width: 100vw;
  margin:0;
  padding:0;
  position:absolute;
}

.input {
  margin-left: 25vw;
  margin-right: 25vw;
  margin-top: 0px;
  display: flex;
  padding: 10px ; 
  padding-top: 0px;
  border-top: 0px;
  height: 10vh; 
}

.output {
 
  font-size: large;
  height: 30vh;
  /* border-color: black;
  border-style: solid; */
  overflow-x: hidden;
  overflow-y: auto;
  /* border-width: 1px;
  border-style: solid; */
  /* color: white; */
  margin-left: 25vw; 
  margin-right: 25vw; 
  font-family: Courier, monospace;
  font-size: larger;
  font-weight: 300;
  line-height: 1.5;
  padding: 10px;  
  /* background-color: ; */
}

 
textarea {
  padding: 10px; 
  /* padding-top: ÷; */
  font-size: 18px;
  background-color: transparent;
  /* color: white; */
  width: 100em;  
  /* border-color: white;  */
}

.head {
  margin-top: 100px;
  margin-bottom: 0px;
  padding-bottom: 0%;
  border-bottom: 0px;
  text-align: center;
  font-size: xx-large;
  font-family: fantasy;
}

body {
	padding: 0;
	margin: 0;
  border: 0;
  height: 100%;
  background: url("./assets/cat.jpg"), no-repeat ;
  height: 100vh;
  background-size: 100vw 100vh;
	/* background: -moz-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
	background: -webkit-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
	background-repeat: no-repeat;
  background-attachment: fixed; */
}
